* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

header {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    padding-left: 10vw; padding-right: 10vw;
    margin-top: 10px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    align-items: center;
}

.nav-bar a {
    color: #e5e7eb;
    font-size: 18px;
}


.nav-bar {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: #1f2937;
}

.hero-section {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80vw;
    height: 25vh;
    margin-left: 10vw; margin-right: 10vw;
    display: flex;
}

.hero-text {
    width: 40vw
}
.hero-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 70px;
    border-radius: 2rem;
    border-style: solid;
    border: #3882f6;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.hero-image {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
   max-width: 100%;
   max-height: 100%;
}

.second-section {
    width: 100vw;
    height: 500px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;padding-bottom: 40px;
}

.second-section .title-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 40px;
}

.card-section {
    width: 80vw;
    height: 300px;
    display: flex;
}

.card-section .title {
    color: white;
}

.card-section img {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

.quote-section
{
    width: 100vw;
    height: 500px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 80vw;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: left;
}

.quote-author {
    width: 30vw;
    font-size: 36px;
    font-weight: bold;
    align-self: flex-end;
}

footer {
    width: 100vw;
    height: 450px;
    background-color: white;
    padding-top: 125px;
}

.action-box {
    width: 80vw;
    height: 200px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 10vw;
}

.action-text {
    color: white;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-button button
{
    display: flex;
    background-color: #3882f6;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}